Django==1.5.1
South==0.8.2
django-extensions==1.1.1
git+git://github.com/saulshanabrook/django-url-tracker@factor/testing
futures

##
#Admin
##
django-grappelli==2.4.5

##
#Caching
##
django-clear-cache==0.3
django-redis==3.3
django-heroku-memcacheify==0.4
pylibmc==1.2.3
django-dumper==0.1.1
django-response-timeout==0.1.0

##
#Images
##
Pillow==2.1.0
django-simpleimages==1.0.2
django-celery==3.0.21

##
#Templates
##
django-sekizai==0.7

##
#Database
##
dj-database-url==0.2.1
psycopg2==2.4.5

##
#Storage
##
boto==2.9.6
hg+https://bitbucket.org/david/django-storages@513c418116dd5a43a1160c0eb26c657a565dd960

##
#Logging
##
raven>=3

##
#Tracing
##
newrelic
git+git://github.com/django-debug-toolbar/django-debug-toolbar.git@5ae6fcc61c7596b4980e85186f3737fad01a0ad4
django-devserver==0.6.2
django-debug-toolbar-template-timings==0.4.4

##
#Deployment
##
gunicorn==0.17.4

##
#Wordpress Import
##
chardet==2.1.1
requests-cache==0.3.0
beautifulsoup4==4.1.3
python-dateutil==2.1
git+git://github.com/knowah/PyPDF2.git@65d57ddfee5775ff5036038cb306488cf97cb3d8

##
#Testing
##
factory_boy==2.0.2
django-webtest==1.6
WebTest==2.0.3
django-discover-runner==1.0
