Django==1.5.4
South==0.8.2
git+git://github.com/saulshanabrook/django-url-tracker@factor/testing
futures

##
#Admin
##
django-grappelli==2.4.6

##
#Caching
##
django-clear-cache==0.3
django-redis==3.3
django-heroku-memcacheify==0.4
pylibmc==1.2.3
django-dumper==0.2.3

##
#Queue
##
git+https://github.com/bretth/django-pq.git@ca16b4f76a910817898c465501ee34cf6c0bbf54

##
#Images
##
Pillow==2.1.0
django-simpleimages==1.1.1

##
#Templates
##
django-sekizai==0.7

##
#Database
##
dj-database-url==0.2.1
psycopg2==2.4.5
git+https://github.com/kennethreitz/django-postgrespool.git@046c0e51f2fe8b32587a12878332c8880f5bf595

##
#Storage
##
boto==2.9.6
hg+https://bitbucket.org/david/django-storages@e27c8b61ab57e5afaf21cccfee005c980d89480f

##
#Logging
##
raven>=3

##
#Tracing
##
newrelic

##
#Production
##
gunicorn==0.17.4
