{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ artist }}{{ block.super }}{% endblock %}

{% block body %}
<article>
  <header>
    <h1>{{ artist }}</h1>
  </header>
  {% include "base/photos.html" with photos=artist.photos.all id=artist.id %}
  <hr>
  <aside>
    <ul>
    {% if artist.photos %}
      <li>
        <a href="#{{ artist.id }}" class="open-gallery">Images</a>
      </li>
    {% endif %}
    {% if artist.resume %}
      <li>
        <a href="{{ artist.get_resume_url }}">Resume</a>
      </li>
    {% endif %}
    {% if artist.get_press.exists %}
      <li>
        <a href="{{ artist.get_press_url }}">Press</a>
      </li>
    {% endif %}
    </ul>
  </aside>
</article>
{% endblock body %}
