{% extends "base.html" %}

{% block title %}{{ artist }}{{ block.super }}{% endblock %}

{% block body %}
<article>
  <header>
    <h1>{{ artist }}</h1>
  </header>
  {% include "base/photos.html" with photos=artist.photos.all id=artist.id %}
  <hr>
  <aside>
    <ul class="related-links">
    {% if artist.photos.exists %}
      <li>
        <a class="gallery-{{ artist.id }}" href="">Images</a>
      </li>
    {% endif %}
    {% if artist.website %}
      <li>
        <a href="{{ artist.website }}">Website</a>
      </li>
    {% endif %}
    {% with resume_url=artist.get_resume_url %}
      {% if resume_url %}
        <li>
          <a href="{{ resume_url }}">Resume</a>
        </li>
      {% endif %}
    {% endwith %}
    {% if artist.all_press.exists %}
      <li>
        <a href="{% url 'artist-press-list' slug=artist.slug %}">Press</a>
      </li>
    {% endif %}
    {% if artist.exhibitions.exists %}
      <li>
        <a href="{% url 'artist-exhibition-list' slug=artist.slug %}">Exhibitions</a>
      </li>
    {% endif %}
    {% if artist.books.exists %}
      <li>
        <a href="{% url 'artist-book-list' slug=artist.slug %}">Books</a>
      </li>
    {% endif %}
    </ul>
  </aside>
</article>
{% endblock body %}
