{% load thumbnail %}
{% load static from staticfiles %}
{% load sekizai_tags %}

{% if images %}
  {% with id=id|default:"1" height=image_size|cut:"x" %}
    <div id="galleria{{ id }}"></div>
    {% addtoblock "js" %}
      <script src="{% static "canada/galleria/galleria-dev.js" %}"></script>
      <script src="{% static "canada/galleria/galleria.classic.js" %}"></script>
    {% endaddtoblock %}
    {% addtoblock "js" %}
      <script>
        var data = [
          {% for image in images %}
            {% thumbnail image.image image_size as im %}
            {
              image: '{{ im.url|safe }}',
              title: '{{ image.title }}',
              description: '{{ image.caption }}',
            }{% if not forloop.last %},{% endif %}
            {% endthumbnail %}
          {% endfor %}
        ];
        Galleria.run('#galleria{{ id }}', {
          dataSource: data
        });
      </script>
    {% endaddtoblock %}
    {% addtoblock "js" %}
    <script>
      Galleria.configure({
        thumbnails: false,
        _toggleInfo: false,
        height: {{ height }},
        layerFollow: true,
      });
    </script>
    {% endaddtoblock %}
    {% addtoblock "css" %}
      <style type="text/css">
        #galleria{{ id }} {height:{{ height }}}
      </style>
    {% endaddtoblock %}
 {% endwith %}
{% endif %}
