{% load static from staticfiles %}
{% load sekizai_tags %}

{% with first_photo=photos|first %}
{% if first_photo %}
  <div class="gallery" id="{{ id }}">
    <a href="#{{ id }}">
      <img src="{{ first_photo.safe_thumbnail_image.url }}" height="{{ first_photo.safe_thumbnail_image.height }}" width="{{ first_photo.safe_thumbnail_image.width }}" alt="photos" title="Click to view photos"/>
    </a>
  </div>
  <br>
  {% addtoblock "js" %} <script src="{% static "canada/compressed/global.js" %}"></script>{% endaddtoblock %}
  {% addtoblock "js" %}
  <script type="text/javascript">
    {% if not id %}
    console.error("The photos template with the first image {{ first_photo.id }} ({{ first_photo.title }}) MUST be passed the id of the owning model.");
    {% endif %}
    CANADA.store.load('gallery', {
      id: "{{ id }}",
      photos: [
      {% for photo in photos %}
        {
          id: "{{ photo.id }}",
          sizes: {
            thumb: {
              url:    "{{ photo.safe_thumbnail_image.url|escapejs }}",
              width:  "{{ photo.safe_thumbnail_image.width|escapejs }}",
              height: "{{ photo.safe_thumbnail_image.height|escapejs }}",
            },
            large: {
              url:    "{{ photo.safe_large_image.url|escapejs }}",
              width:  "{{ photo.safe_large_image.width|escapejs }}",
              height: "{{ photo.safe_large_image.height|escapejs }}"
            }
          },
          full_caption: "{{ photo.full_caption|escapejs }}",
        {% if forloop.last %}
        }
        {% else %}
        },
        {% endif %}
        {% endfor %}
      ]
    });
  </script>
  {% endaddtoblock %}
{% endif %}
{% endwith %}
