{% load thumbnail %}
{% load static from staticfiles %}
{% load sekizai_tags %}
{% load markdown_deux_tags %}

{% if photos %}
  {% with id=id|default:"1" height=image_size|cut:"x" %}
    {% for image in photos %}
      {% thumbnail image.image image_size as im %}
      <a class="fancybox" data-title-id="{{ image.pk }}" href="{{ im.url }}" rel="{{ id }}"><img src="{{ im.url }}"/></a>
      <div id="{{ image.pk }}" class="hidden">
          <strong>{{ image.title }}</strong> {{ image.caption|markdown }}
      </div>
      {% if forloop.first %}<div class="hidden">​{% endif %}
      {% if forloop.last %}</div>​{% endif %}
      {% endthumbnail %}
    {% endfor %}

    {% addtoblock "js" %}
      <!-- Add mousewheel plugin (this is optional) -->
      <script src="{% static "canada/fancybox/lib/jquery.mousewheel-3.0.6.pack.js" %}"></script>

      <!-- Add fancyBox -->
      <script src="{% static "canada/fancybox/source/jquery.fancybox.pack.js" %}"></script>

      <!-- Optionally add helpers - button, thumbnail and/or media -->
      <script src="{% static "canada/fancybox/source/helpers/jquery.fancybox-buttons.js" %}"></script>
      <script src="{% static "canada/fancybox/source/helpers/jquery.fancybox-media.js" %}"></script>
      <script src="{% static "canada/fancybox/source/helpers/jquery.fancybox-thumbs.js" %}"></script>

    {% endaddtoblock %}
    {% addtoblock "css" %}
      <!-- Add fancyBox -->
      <link rel="stylesheet" href="{% static "canada/fancybox/source/jquery.fancybox.css" %}"  media="screen" />

      <!-- Optionally add helpers - button, thumbnail and/or media -->
      <link rel="stylesheet" href="{% static "canada/fancybox/source/helpers/jquery.fancybox-buttons.css" %}"  media="screen" />
      <link rel="stylesheet" href="{% static "canada/fancybox/source/helpers/jquery.fancybox-thumbs.css" %}"  media="screen" />
    {% endaddtoblock %}

    {% addtoblock "js" %}
    <script type="text/javascript">
      $(document).ready(function() {
        $(".fancybox").fancybox({
          padding : 0,
          aspectRatio: true,
          helpers : {
              title: {
                  type: 'outside'
              }
          },
          beforeLoad: function() {
              var el, id = $(this.element).data('title-id');

              if (id) {
                  el = $('#' + id);

                  if (el.length) {
                      this.title = el.html();
                  }
              }
          }
        });
      });
    </script>
    {% endaddtoblock %}
 {% endwith %}
{% endif %}
