{% load static from staticfiles %}
{% load sekizai_tags %}
{% load humanize %}

{% if photos %}
{% with first_image=photos|first %}
  <div class="gallery" id="{{ id }}">
    <img id="{{ first_image.id }}" src="{{ first_image.image_thumb.url }}" alt="{{ first_image.title|escape }}"/>
  {% addtoblock "js" %}
  <script type="text/javascript">
    {% if id == None %}
    console.error("The photos template with the first image {{ first_image.id }} ({{ first_image.title }}) MUST be passed the id of the owning model.");
    {% endif %}
    CANADA.store.load('gallery', {
      id: "{{ id }}",
      photos: [
      {% for image in photos %}
        {
          id: "{{ image.id }}",
          sizes: {
            thumb: {
              url:    "{{ image.image_thumb.url|escapejs }}",
              width:  {{ image.image_thumb.width|escapejs }},
              height: {{ image.image_thumb.height|escapejs }},
            },
            large: {
              url:    "{{ image.image_gallery.url|escapejs }}",
              width:  {{ image.image_gallery.width|escapejs }},
              height: {{ image.image_gallery.height|escapejs }}
            }
          },
          title: "{{ image.title|escapejs }}",
          caption: "{{ image.caption|escapejs }}"
        {% if forloop.last %}
        }
        {% else %}
        },
        {% endif %}
        {% endfor %}
      ]
    });
  </script>
  {% endaddtoblock %}
  </div>
  <br>
{% endwith %}
{% endif %}
