{% extends "base.html" %}
{% load thumbnail %}
{% block title %}{{ press.title }}{{ block.super }}{% endblock %}
{% block body %}
<article>
<h1>{{ press.publisher }}: {{ press.title }}</h1>
<p><time datetime="{{ press.date|date:'Y-m-d H:iO' }}" pubdate> {{ update.date|date }}</time>
<p>{{ press.description }}
{% if press.image %}
 {% thumbnail press.image image_height as im %}
  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
 {% endthumbnail %}
{% endif %}
{{ press.text|markdown }}
{% if press.artists.all or press.exhibition %}
 <dl>
 {% for artist in press.artists.all %}
  {% if forloop.first %}<dt>Atists:</dt>{% endif %}
  <dd>
  {% if artist.visible %}<a href={{ artist.get_absolute_url }}> {{ artist }} </a>
  {% else %}{{ artist }}
  {% endif %}
  </dd>
 {% endfor %}
{% endif %}
{% if press.exhibition %}
 <dt>Exhibition:</dt>
 <dd><a href={{ press.exhibition.get_absolute_url }}>{{ press.exhibition }}</a>
{% endif %}
 </dl>
{% endif %}
</article>
{% endblock %}
