{% extends "base.html" %}
{% load thumbnail %}

{% block base_title %}{{ press.title }}{{ block.super }}{% endblock %}

{% block body %}
<article>
    <h1>{{ press.publisher|capfirst }}: {{ press.title|capfirst }}</h2>
    <p>{{ press.start_date|date:"F j, Y" }}</p>
    <p>{{press.description}}</p>

    {% if press.image %}
        {% thumbnail press.image image_height as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
        {% endthumbnail %}
    {% endif %}
    {% if press.artists.all or press.exhibition %}
        <dl>
        {% if press.artists.all %}
            <dt>Atists:</dt>
                {% for artist in press.artists.all %}
                    <dd><a href={{ artist.get_absolute_url }}>{ {artist.first_name }} {{ artist.last_name }}</a>
                {% endfor %}
        {% endif %}
        {% if press.exhibition %}
            <dt>Exhibition:</dt>
                <dd><a href={{ press.exhibition.get_absolute_url }}>{{ press.exhibition }}</a>
        {% endif %}
        </dl>
    {% endif %}
</article>
{% endblock %}
