{% extends "base.html" %}

{% block title %}{{ book }}{{ block.super }}{% endblock %}

{% block body %}
<article>
  <header>
    <h1>{{ book.title }}</h1>
    <p>{{ book.artist.link_if_visible}}</p>
    <p>{% if object.date_text %}{{ object.date_text }}{% else %}{% include "base/full_date.html" with date=object.date year=True %}{% endif %}</p>
  </header>
  {{ book.description.as_html }}
  <aside>
    <ul class="related-links">
      <li>
        <a href="{{ book.get_purchase_url }}">Buy</a>
      </li>
    </ul>
  </aside>
</article>
{% endblock body %}
