{% extends "base.html" %}

{% load static from staticfiles %}
{% load sekizai_tags %}
{% load canada_filters %}

{% block title %}{{ book }}{{ block.super }}{% endblock %}

{% block body %}
{% addtoblock "js" %}
  <script src="{% static "canada/bower_components/jquery/jquery.min.js" %}"></script>
  <script id="snipcart" src="https://cdn.snipcart.com/scripts/snipcart.js" data-api-key="{{ "SNIPCART_API_KEY"|setting }}"></script>
{% endaddtoblock %}

{% addtoblock "css" %}
<link id="snipcart-theme" href="https://cdn.snipcart.com/themes/base/snipcart.min.css" rel="stylesheet">
<style>
#snipcart-discounts {
  display: none !important;
}
a#snipcart-close:before {
    content: "Continue Shopping";
    padding: 10px;
    position: relative;
    top: -0.2em;
    font: 15px brandon_grotesquebold,sans-serif;
    text-transform: uppercase;
    color: #fff;
}
</style>
{% endaddtoblock %}

<article>
{% comment %}
  <header>
    <h1>{{ book.title }}</h1>
    <p>{{ book.artist.link_if_visible}}</p>
    <p>{% if object.date_text %}{{ object.date_text }}{% else %}{% include "base/full_date.html" with date=object.date year=True %}{% endif %}</p>
  </header>
{% endcomment %}

  {% include "base/photos.html" with photos=book.photos.all id=book.id %}

  {{ book.description.as_html }}
  {% if book.price %}
    <aside>
      <ul class="related-links">
        <li>
          <a href="#"
            class="snipcart-add-item"
            data-item-url="{{ request.build_absolute_uri }}"
            data-item-id="{{ book.pk }}"
            data-item-name="{{ book }}"
            data-item-price="{{ book.price|floatformat:2 }}"
            {% with photo=book.get_grid_photo %}
              {% if photo %}
               data-item-image="{{ photo.url }}"
              {% endif %}
            {% endwith %}
          >
            Buy for ${{ book.price }}
          </a>
        </li>
      </ul>
    </aside>
  {% endif %}
</article>
{% endblock body %}
