{% extends "base.html" %}
{% load thumbnail %}
{% block base_title %}Updates{{ block.super }}{% endblock %}
{% block body %}
    {% for update in object_list %}
        <h2 id="{{ update.slug }}">{{ update.name }}</h2>
        {% for image in update.updatephoto_set.all %}
            {% thumbnail image.image image_size as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
            {% endthumbnail %}
            <p>{{ image.caption }}</p>
            <hr>
        {% endfor %}
    {% endfor %}
{% endblock %}
