{% load static from staticfiles %}
{% load compress %}
<!DOCTYPE html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <title>{% block title %} | CANADA{% endblock %}</title>
 <meta name="description" content="CANADA - lower East Side Art gallery exhibiting artists in New York.">
 <meta name="viewport" content="width=device-width">
 {% compress css %}
 <link type="text/less" rel="stylesheet" href="{% static "canada/less/bootstrap/bootstrap.less" %}">
 <link type="text/less" rel="stylesheet" href="{% static "canada/less/canada.less" %}">
 {% endcompress %}
 <link type="text/css" rel="stylesheet" href="{% static "canada/css/galleria.classic.css" %}">

 <!--[if lt IE 9]>
  <script src="{% static "canada/js/html5shiv.min.js" %}"></script>
 <![endif]-->
 <style>
    #galleria{ width: 700px; height: 400px; background: #000 }
</style>

</head>
<body>
<div id="everything"
 <header class="navbar navbar-static-top navbar-inverse">
  <nav class="navbar-inner">
   <div class="container">
    <ul class="nav">
     <li><a href="/">Home</a>
     <li><a href="/artists/">Artists</a>
     <li><a href="/exhibitions/">Exhibitions</a>
     <li><a href="/updates/">Updates</a>
     <li><a href="/contact/">Contact</a>
    </ul>
   </div>
  </nav>
 </header>
 <div class="container" id="body">{% block body %}{% endblock %}</div>
 <footer>
  <p class="container">CANADA 55 Chrystie St (between Hester &amp; Canal), NYC 10002 | 212.925.4631 | <a href="mailto:gallery@canadanewyork.com">gallery@canadanewyork.com</a>
 </footer>
</div>
{% compress js %}
<script src="{% static "canada/js/jquery.min.js" %}"></script>
<script src="{% static "canada/js/bootstrap.min.js" %}"></script>
{% block js %}{% endblock %}
{% endcompress %}

</body>
</html>
