{% extends "base.html" %}
{% load thumbnail %}
{% load markup %}
{% block base_title %}CANADA{% endblock %}
{% block body %}
    {% thumbnail exhibition.frontpage_image image_size as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
    {% endthumbnail %}
    {% if exhibition %}
        <a href={{ exhibition.get_absolute_url }}>
            <h2>{{ exhibition.name }}</h2>
        </a>
        <p>{{ exhibition.description }}</p>
        {% firstof exhibition.frontpage_text|markdown "" %}
    {% else %}
        <h2>No exhibition up currently</h2>
    {% endif %}

{% endblock %}
