{% load thumbnail %}
{% load static from staticfiles %}

{% if images %}
 {% if not js %}
  <div id="galleria"></div>
 {% else %}
  <script src="{% static "canada/js/galleria.js" %}"></script>
  <script src="{% static "canada/js/galleria.classic.js" %}"></script>
  <script>
   var data = [
    {% for image in images %}
     {% thumbnail image.image image_size as im %}
     {
      image: '{{ im.url }}',
      big: 'big.jpg',
      title: '{{ image.title }}',
      description: '{{ image.caption }}',
     }{% if not forloop.last %},{% endif %}
     {% endthumbnail %}
    {% endfor %}
   ];
   Galleria.run('#galleria', {
    dataSource: data
   });
  Galleria.configure({
   thumbnails: false
  });
  </script>

 {% endif %}
{% endif %}
