// ...............................................
// Colors
//

@black : #121212;
@gray  : #999;
@flame : #f89406;

@accent-color: @flame;

// Text
@text-color: @gray;

// Links
@link-color: @text-color;
@link-focus-color: @accent-color;

// Inputs
@input-border-color: @gray;
@input-focus-ring-color: @accent-color;
@input-background-color: @black;
@input-focus-background-color: #333;

// Rules
@rule-color: @gray;

// ...............................................
// Fonts
//

@font-size: 11px;
