@import "base.scss";
 
$main-color: #AAA;
 
body {
    width:750px;
    margin:0 auto;
    margin: {
        top:30px;
        left:200px;
    }
    font: {
        family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        size: 75%;
    }
    color: $main-color;
 
    background: {
        color: black;
        image: url(static/canada/images/background_fire.gif);
        repeat: no-repeat;
    }
}

a {
    &:link {
        text-decoration: none;
        color: $main-color;
    }
    &:visited {
        color:$main-color
    }
    &:hover {
        color:orange;
    }
}
nav {
    width:750px;
    height:40px;
    margin-top:10px;
 
    li {
        .current {
                &:visited {
                    color:orange;
                }
            }
        text-transform: uppercase;
        display: inline;
        &:after {
            content: '|';
        }
        &:last-child:after {
            content: '';
        }
    }
 
}

article {
    width:750px;
    min-height:450px; /* for modern browsers */
    height:auto !important; /* for modern browsers */
    height:450px; /* for IE5.x and IE6 */
    margin-top:10px;
}
 
footer {
 
    width:750px;
    height:100px;
    margin-top:40px;
}