{% if exhibitions or artists or press %}
 <dl>
  {% for artist in artists %}
   {% if forloop.first %}<dt>Artist{{ artists|pluralize }}:</dt>{% endif %}
   <dd>
    {% if artist.visible %}<a href={{ artist.get_absolute_url }}>{% include "base/model_detail.html" with model=artist only %}</a>
    {% else %}{% include "base/model_detail.html" with artist=artist only %}
    {% endif %}
   </dd>
  {% endfor %}

  {% for exhibition in exhibitions %}
   {% if forloop.first %}<dt>Exhibition{{ Exhibition|pluralize }}:</dt>{% endif %}
   <dd><a href={{ exhibition.get_absolute_url }}>{% include "base/model_detail.html" with model=exhibition only %}</a></dd>
  {% endfor %}

  {% for press_single in press %}
   {% if forloop.first %}<dt>Press:</dt>{% endif %}
   <dd><a href={{ press_single.get_absolute_url }}>{% include "base/model_detail.html" with model=press_single only %}</a></dd>
  {% endfor %}
 </dl>
{% endif %}
