{% extends "base.html" %}

{% load thumbnail %}
{% load canada_filters %}

{% block title %}{{ press.title }}{{ block.super }}{% endblock title %}

{% block body %}
<article>
  <header>
    <h1>{% include "base/model_detail.html" with model=press %}</h1>
    <p>{% include "base/model_detail.html" with model=press extra_info="True"%}
  </header>
  {% if press.image %}
    {% thumbnail press.image press.image_size as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
    {% endthumbnail %}
  {% endif %}
  {% include "base/related_models.html" with artists=press.artists.all exhibitions=press.exhibition|create_list only %}
</article>
{% endblock body %}
