{% extends "base.html" %}

{% block title %}{{ press.title }}{{ block.super }}{% endblock title %}

{% block body %}
<article>
  <header>
    <h1>{{ press }}</h1>
    <p>{% include "base/full_date.html" with date=press.date %}
  </header>
  {% if press.content_file %}
    <a href="{{ press.content_file.url }}">Open</a>
  {% endif %}
  {% if press.link %}
    <a href="{{ press.link }}">Open</a>
  {% endif %}
  {% if press.artist %}
    <a href="{{ press.artist.get_absolute_url }}">{{ press.artist }}</a>
  {% endif %}
  {% if press.exhibition %}
    <a href="{{ press.exhibition.get_absolute_url }}">{{ press.exhibition }}</a>
  {% endif %}
  {{ press.content|safe }}
</article>
{% endblock body %}
