{% extends "wagtailadmin/login.html" %} {% block branding_login %}Log in to
Canada {{ ENVIRONMENT|title }}{% endblock %}


{% block below_login %}
{{ block.super }}
<h2>
    <ul>
        <li><a href="/accounts/google/login/?next=/cms/">Log in with Google Apps</a></li>
        <li><a href="/accounts/gitlab/login/?next=/cms/">Log in with Gitlab</a></li>
    </ul>
</h2>
{% endblock %}