{% load static wagtailcore_tags %}

{% spaceless %}
<div class="user-created">
{% for block in stream_field %}
  {% if block.block_type == 'spacer' %}
    {% include "helpers/spacer.html" with spacer=block.value %}
  {% elif block.block_type == 'rich_text' %}
    {% include_block block %}
  {% elif block.block_type == 'date_line_item' %}
  <div class="date-line-item">
    <div class="date-line-item__date">
      {{ block.value.date }}
    </div>
    <div class="date-line-item__text">
      {{ block.value.text }}
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>
{% endspaceless %}
