{% extends "base.html" %}

{% block title %}
  {% if parent_object %}{{ parent_object }} › {% endif %}
  {{ object_label }}
  {% if not parent_object %}{{ block.super }}{% endif %}
{% endblock %}

{% block body %}
{% if parent_object %}
  <h1>
      <a href="{{ parent_object.get_absolute_url }}">{{ parent_object }}</a> ›
    {{ object_label }}
  </h1>
{% endif %}
<ul class="object-grid grid-three">
{% for object in object_list %}
  <li>{% include object_list_item_template with object=object %}</li>
{% endfor %}
</ul>
{% endblock %}
