// @import "print.less";

html,
body {
  font-size: $font-size;
  font-family: Arial;
  color: $text-color;
  background-color: $background-color;
  line-height: 1.5em;

  // Reset
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 60px;
}

// ...............................................
// Print elements
//

.print {
  display: none;
}

// ...............................................
// Base styles
//

// Links
a,
a:visited {
  text-decoration: none;
  color: $link-color;
}
a:focus,
a:hover {
  text-decoration: underline;
  color: $link-focus-color;
}

// Inputs
input[type="text"],
input[type="email"] {
  color: white; // Yes, really
  border: 1px solid $input-border-color;
  background-color: $input-background-color;

  &:focus {
    outline: 1px solid $input-focus-ring-color;
    outline-offset: -1px;
  }
}

// Rule
hr {
  border: 0;
  border-bottom: 1px solid $rule-color;
}

em,
i {
  font-weight: bold;
  font-style: italic;
}

// Images
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;

  // Smoother images in IE
  -ms-interpolation-mode: bicubic;
}

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $font-size + 1px;
  font-weight: bold;
}

figure {
  margin: 0 auto;
}

figure aside {
  padding-top: 20px;
}

section {
  width: $section-width;
  padding-left: 200px;
  padding-right: 20px;
  margin-top: 80px;
}

footer {
  line-height: 60px;
  position: absolute;
  left: 200px;
  bottom: 0;
  right: 0;
  height: 60px;
}

//
// Photo Popups
//

// Increase bottom padding so that multiline captions are included

// A adjust-huener / throbber to indicate progress
//.throbber {
//  background: url('../images/adjust-huener.gif') no-repeat center;
//  background-size: 36px 36px;
//}

// ...............................................
// hCard
//

footer {
  .adr:after,
  .tel:after {
    content: " | ";
  }
}

// ...............................................
// Navigation
//

nav.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 1;

  background-color: $background-color;
  box-shadow: 0px 4px 4px $background-color;

  a {
    text-transform: uppercase;
  }

  ul {
    line-height: 20px;
    padding-left: 200px;
  }

  li {
    display: inline-block;
    padding-right: 20px;
  }
}

.brand {
  position: fixed;
  top: 80px;
  left: 20px;
}

nav.pagination {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

// ...............................................
// Articles
//

article {
  margin-bottom: $separation-size;

  // Constrain embeds so the page doesn't expand
  iframe {
    max-width: 100% !important;
  }

  div.update-body-wrapper {
    margin-right: 12px;
  }
}

header {
  border-bottom: 1px solid $rule-color;
  margin-bottom: 20px;
  padding-bottom: 10px;

  h1 {
    margin-bottom: 0;
  }
}

// ...............................................
// Grids
//

.multi-column {
  display: flex;
  > * {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
  }
  > *:first-child {
    padding-left: 0;
  }
  > *:last-child {
    padding-right: 0;
  }
}

// ...............................................
// Lists
//

// Object list styling

.object-list {
  list-style: none;
  padding: 0;
  position: relative;

  li {
    padding-bottom: 1%;
  }

  &.rollover-list {
    width: 50%;

    li {
      padding-bottom: 2%;
    }
  }
}

.rollover-images {
  position: sticky;
  width: 50%;
  float: right;
  top: 50px;

  img {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.image-gallery-page {
  figure {
    margin-bottom: 30px;
  }

  figcaption {
    margin-top: 15px;
  }
}

// Object grid styling
$grid-width-2: $section-width / 2;
$grid-width-3: $section-width / 3;
$grid-width-4: $section-width / 4;

.object-grid {
  list-style: none;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-end;
  align-items: flex-end;

  &.flex-start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  > * {
    max-width: 100%;
    margin-bottom: 15px;
    padding-right: 50px;
    box-sizing: border-box;
  }

  &.grid-two > * {
    -webkit-flex: 0 0 $grid-width-2;
    flex: 0 0 $grid-width-2;
  }

  &.grid-three > * {
    -webkit-flex: 0 0 $grid-width-3;
    flex: 0 0 $grid-width-3;
  }

  &.grid-four > * {
    -webkit-flex: 0 0 $grid-width-4;
    flex: 0 0 $grid-width-4;
  }

  &.grid-two,
  &.grid-three,
  &.grid-four {
    header {
      margin-right: 10px;

      ~ p {
        margin-right: 10px;
      }
    }
  }
}

// Related links list styling
.related-links {
  padding-left: 0;

  li {
    display: inline;
    margin-left: 5px;
    padding-right: 2%;
  }

  // Add a chevron before the links
  li:before {
    content: "\203A"; // ›
    font-size: $font-size + 2px;
  }
}

// ...............................................
// WYSIWYG Created
//
.user-created {
  margin-top: 10px;
  margin-bottom: 10px;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.date-line-item {
  display: flex;

  &__date {
    padding-right: 20px;
  }
}

// ...............................................
// Gallery
//

.gallery {
  display: inline;
  cursor: pointer;

  img {
    margin-bottom: $separation-size / 2;
  }
}

.photo-link {
  display: block;
}

.zoom-cursor {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

// ...............................................
// Mobile
//

@media (max-width: $section-width + 220px) {
  // 820px
  body {
    margin: 0 0 100px;
  }

  section {
    width: auto;
    max-width: $section-width;
  }

  footer {
    line-height: 1.5em;
  }

  // Break the address into new lines so it's easier to read
  footer {
    .tel,
    .email {
      display: block;
    }
    .adr:after,
    .tel:after {
      content: "";
    }
  }

  .multi-column {
    flex-direction: column;
    > * {
      flex: 1;
      padding: 10px 0;
    }
    > *:first-child {
      padding-top: 0;
    }
    > *:last-child {
      padding-bottom: 0;
    }
  }
}

@media (max-width: $section-width - 50px) {
  // 550px
  // Don't fix the navigation at the top of the
  // page.
  nav.main-nav {
    position: static;
    height: auto;
    text-align: center;
    border-bottom: 1px solid $rule-color;

    ul {
      margin-bottom: 0;
    }
  }

  footer {
    left: 0;
    background-color: $mobile-footer-background-color;
    box-shadow: inset 0 12px 12px -6px $mobile-footer-box-shadow-color;
  }

  // Float the brand to the top of the
  // page so that's the first thing users see.
  .brand {
    position: relative;
    top: 20px;

    // Hide the flame image
    img {
      display: none;
    }
  }

  section {
    margin-top: 0px;
  }

  // Fill the device container
  section,
  footer,
  nav.main-nav ul {
    padding: 20px;
    width: auto;
  }

  .object-grid {
    justify-content: center;
  }

  .object-list {
    &.rollover-list {
      width: 100%;
    }
  }

  .rollover-images {
    display: none !important;
  }
}

// Magnific Popups

// make room for caption
.mfp-iframe-scaler {
  .mfp-bottom-bar {
    margin-top: 5px;
  }
}

// // disable interaction on gfycat
// iframe.mfp-iframe[src*="gfycat"] {
//     pointer-events: none;
// }

// gfycat
.mfp-inline-holder:before {
  content: none !important;
}

.mfp-inline-holder {
  .mfp-content {
    height: 100%;
    figure {
      display: flex;
      flex-flow: column;
      height: 100%;
      justify-content: center;
      .mfp-close {
        order: 0;
        position: inherit;
        flex: 0 1 auto;

        color: #fff !important;
        text-align: right;
        width: 100%;
      }
      video {
        flex: 0 1 auto;
        order: 1;
        width: 90%;
        max-height: 90%;
        align-self: center;
      }

      figcaption {
        flex: 0 1 auto;
        order: 2;
        padding-top: 5px;
        color: #f3f3f3;
      }
    }
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
