// ...............................................
// Colors
//

$black: #101010;
$gray: #aaa;
$flame: #f89406;
$purple: #250758;

$accent-color: $flame;

$background-color: $black;

// Text
$text-color: $gray;

// Links
$link-color: $text-color;
$link-focus-color: $accent-color;

// Inputs
$input-border-color: $gray;
$input-focus-ring-color: $accent-color;
$input-background-color: $black;

// Rules
$rule-color: #333;

// ...............................................
// Fonts
//

$font-size: 12px;

// ...............................................
// Spacing
//

// https://stackoverflow.com/a/47633235
@function to-number($value) {
  @if type-of($value) == "number" {
    @return $value;
  } @else if type-of($value) != "string" {
    @error 'Value for `to-number` should be a number or a string.';
  }

  $result: 0;
  $digits: 0;
  $minus: str-slice($value, 1, 1) == "-";
  $numbers: (
    "0": 0,
    "1": 1,
    "2": 2,
    "3": 3,
    "4": 4,
    "5": 5,
    "6": 6,
    "7": 7,
    "8": 8,
    "9": 9,
  );

  @for $i from if($minus, 2, 1) through str-length($value) {
    $character: str-slice($value, $i, $i);

    @if (index(map-keys($numbers), $character) or $character == ".") {
      @if $character == "." {
        $digits: 1;
      } @else if $digits == 0 {
        $result: $result * 10 + map-get($numbers, $character);
      } @else {
        $digits: $digits * 10;
        $result: $result + map-get($numbers, $character) / $digits;
      }
    }
  }

  @return if($minus, -$result, $result);
}

$section-width-number: to-number(get-setting(SECTION_PIXEL_WIDTH_STR));
$section-width: $section-width-number * 1px;

$separation-size: 40px;

// ...............................................
// Lightbox
//

// Buttons
$next-prev-background-width: 50px;
$close-background-width: $next-prev-background-width;

$close-width: 100px;

$background-edge-offset: 100px;

//Image
$lightbox-image-top-margin: 100px;

// ...............................................
// Mobile
//

$mobile-footer-background-color: #010101;
$mobile-footer-box-shadow-color: #000000;
