{% extends "base.html" %}

{% load thumbnail %}
{% load markdown_deux_tags %}

{% block title %}CANADA{% endblock title %}

{% block body %}
<article>
  <a href="{{ frontpage.exhibition.get_absolute_url }}">
    {% thumbnail frontpage.image "x500" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
    {% endthumbnail %}
  </a>
  <p>{% include "base/model_detail.html" with model=frontpage.exhibition %}</p>
  {{ frontpage.extra_text|markdown }}
</article>
{% endblock body %}
