/* put global css for wagtail admin dev here */
header,
.page-explorer .listing .index {
  background-color: #d9813d;
}

.page-explorer .listing .index .button.bicolor,
.page-explorer .listing .index .button:hover,
.breadcrumb,
.t-inverted .u-btn-current:hover {
  background-color: #d95a3d;
}

.breadcrumb li:hover {
  background-color: #d5492a;
}
