{% load staticfiles %}
{% load sekizai_tags %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %} | CANADA{% endblock %}</title>
  <meta name="description" content="CANADA - lower East Side Art gallery exhibiting artists in New York.">
  <meta name="viewport" content="width=device-width">
  {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
  {% addtoblock "css" %}
  <link type="text/less" rel="stylesheet" href="{% static "canada/less/styles.less" %}">
  <link type="text/less" rel="stylesheet" href="{% static "canada/less/lightbox.less" %}">
  {% endaddtoblock %}
  {% addtoblock "js" %}
  <script src="{% static "canada/js/jquery.js" %}"></script>
  <script src="{% static "canada/js/swipe.js" %}"></script>
  <script src="{% static "canada/js/raven.js" %}"></script>
  <script src="{% static "canada/js/main.js" %}"></script>
  <script src="{% static "canada/js/config.js" %}"></script>
  <script src="{% static "canada/js/templates.js" %}"></script>
  <script src="{% static "canada/js/store.js" %}"></script>
  <script src="{% static "canada/js/lightbox.js" %}"></script>
  <script type="text/javascript">
    CANADA.SENTRY_DSN = "{{ SENTRY_DSN|escapejs }}";
  </script>
  {% endaddtoblock %}
  <!--[if lt IE 9]>
    <script src="{% static "canada/js/html5shiv.min.js" %}"></script>
  <![endif]-->
</head>
<body>
<nav>
  <a href='/' title="CANADA" class="brand">
    <img alt="CANADA" src="{% static "canada/images/fire_logo.gif" %}" width="155" height="140">
  </a>
  <ul>
    <li><a href="{% url 'exhibition-current' %}">Homepage</a></li>
    <li><a href="{% url 'artist-list' %}">Artists</a>
    <li><a href="{% url 'exhibition-list' %}">Exhibitions</a>
    <li><a href="{% url 'update-list' %}">Updates</a>
    <li><a href="{% url 'contact' %}">Contact and Info</a>
  </ul>
</nav>
<section>
  {% block body %}{% endblock %}
</section>
<footer class="vcard">
  <span class="fn">CANADA</span>
  <span class="adr">
    <span class="street-address">333 Broome St</span>,
    <span class="locality">New York</span>,
    <span class="region">NY</span>
    <span class="postal-code">10002</span>
  </span>
  <span class="tel">212.925.4631</span>
  <span class="email">
    <script type="text/javascript"><!--
      var s="=b!isfg>#nbjmup;hbmmfszAdbobebofxzpsl/dpn#?hbmmfszAdbobebofxzpsl/dpn=0b?";
          m=""; for (i=0; i<s.length; i++) m+=String.fromCharCode(s.charCodeAt(i)-1); document.write(m);
    //--></script>
    <noscript>
      gallery AT canadanewyork DOT com
    </noscript>
  </span>
</footer>
{% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
</body>
</html>
