{% load static nav_menu_tags canada_filters sass_tags compress sekizai_tags %}

<!DOCTYPE html>
<html lang="en">
<head>

    {% if "GOOGLE_TAG_MANAGER_ID"|setting %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ "GOOGLE_TAG_MANAGER_ID"|setting }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %} ‹ Canada{% endblock %}</title>
  <meta name="description" content="Canada - lower East Side Art gallery exhibiting artists in New York.">
  <meta name="viewport" content="width=device-width">
  {% if request.in_preview_panel %}
    <base target="_blank">
  {% endif %}
  <!-- from http://www.jonathantneal.com/blog/understand-the-favicon/ -->
  <link rel="icon" href="{% static "images/fire_favicon.png" %}">
  <!--[if IE]>
    <link rel="shortcut icon" href="{% static "images/fire_favicon.ico" %}">
  <![endif]-->

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  {% compress css %}
  <link href="{% sass_src 'scss/styles.scss' %}" rel="stylesheet" type="text/css" />
  {% endcompress %}
</head>
<body>
{% if "GOOGLE_TAG_MANAGER_ID"|setting %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ "GOOGLE_TAG_MANAGER_ID"|setting }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endif %}

<nav class="main-nav">
    <a href="/" title="Canada" class="brand">
        <img alt="Canada" src="{% static "images/canada-lowercase.png" %}" width="140" height="155">
    </a>
    {% get_nav_menu 'top' %}
</nav>

<section>
  {% block body %}{% endblock %}
</section>

<footer class="vcard">
  <img class="print logo" src="{% static "images/print-logo.png" %}"/>
  <span class="tel">212.925.4631</span>
  <span class="email">
      gallery[at]canadanewyork.com
  </span>
</footer>

{% render_block "css" %}
{% render_block "js" %}
{% render_block "js_inline" %}

</body>
</html>
