{% load static from staticfiles %}
{% load sekizai_tags %}
{% load canada_filters %}

<!DOCTYPE html>
<head>

  {% if "GOOGLE_TAG_MANAGER_ID"|setting %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ "GOOGLE_TAG_MANAGER_ID"|setting }}');</script>
    <!-- End Google Tag Manager -->
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %} ‹ CANADA{% endblock %}</title>
  <meta name="description" content="CANADA - lower East Side Art gallery exhibiting artists in New York.">
  <meta name="viewport" content="width=device-width">

  <!-- from http://www.jonathantneal.com/blog/understand-the-favicon/ -->
  <link rel="icon" href="{% static "canada/images/fire_favicon.png" %}">
  <!--[if IE]>
    <link rel="shortcut icon" href="{% static "canada/images/fire_favicon.ico" %}">
  <![endif]-->

  <link rel="stylesheet" href="{% static "canada/compressed/main.css" %}">
  <!--[if lt IE 9]>
    <script src="{% static "canada/bower_components/html5shiv/dist/html5shiv.js" %}"></script>
  <![endif]-->
</head>
<body>
{% if "GOOGLE_TAG_MANAGER_ID"|setting %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ "GOOGLE_TAG_MANAGER_ID"|setting }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endif %}
<nav>
  <a href="{% url 'exhibition-current' %}" title="CANADA" class="brand">
    <img alt="CANADA" src="{% static "canada/images/fire_logo.png" %}" width="140" height="155">
  </a>
  <ul>
    <li><a href="{% url 'exhibition-current' %}">Homepage</a></li>
    <li><a href="{% url 'artist-list' %}">Artists</a>
    <li><a href="{% url 'exhibition-list' %}">Exhibitions</a>
    {% if "SHOW_BOOKS"|setting %}<li><a href="{% url 'book-list' %}">Books</a>{% endif %}
    <li><a href="{% url 'update-list' %}">Updates</a>
    <li><a href="{% url 'contact' %}">Contact and Info</a>
  </ul>
</nav>
<section>
  {% block body %}{% endblock %}
</section>
<footer class="vcard">
  <img class="print logo" src="{% static "canada/images/print-logo.png" %}"/>
  <span class="fn">CANADA</span>
  <span class="adr">
    <span class="street-address">333 Broome St</span>,
    <span class="locality">New York</span>,
    <span class="region">NY</span>
    <span class="postal-code">10002</span>
  </span>
  <span class="tel">212.925.4631</span>
  <span class="email">
    <script type="text/javascript"><!--
      var s="=b!isfg>#nbjmup;hbmmfszAdbobebofxzpsl/dpn#?hbmmfszAdbobebofxzpsl/dpn=0b?";
          m=""; for (i=0; i<s.length; i++) m+=String.fromCharCode(s.charCodeAt(i)-1); document.write(m);
    //--></script>
    <noscript>
      gallery AT canadanewyork DOT com
    </noscript>
  </span>
</footer>

{% render_block "css" %}
{% render_block "js" %}
{% render_block "js_inline" %}
</body>
</html>
