@import "variables.less";

.lightbox {
  display: none;
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.lightbox .swipe,
.lightbox .swipe-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.lightbox .next,
.lightbox .prev {
  cursor: pointer;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 100;
  background-repeat: no-repeat;
}
.lightbox .next {
  right: 0;
  background-image: url("../images/icon-left-arrow.png");
  background-size: @next-prev-background-width;
  background-position: @next-width-position center;
}
.lightbox .next:active {
  background-image: url("../images/icon-left-arrow_hover.png");
}
.lightbox .prev {
  left: 0;
  background-image: url("../images/icon-right-arrow.png");
  background-size: @next-prev-background-width;
  background-position: @prev-width-position center;
}
.lightbox .prev:active {
  background-image: url("../images/icon-right-arrow_hover.png");
}
.lightbox .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  height: @close-width;
  width: @close-width;
  z-index: 100;
  background: url("../images/icon-cancel.png") no-repeat center;
  background-size: @close-background-width;
}
.lightbox .close:active {
  background-image: url("../images/icon-cancel_hover.png");
}
.lightbox .swipe {
  left: @prev-width-position + @next-prev-background-width;
  right: @prev-width-position + @next-prev-background-width;
}
.lightbox figure {
  margin-top: @lightbox-image-top-margin;
  padding: 0 @next-prev-background-width;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
.touch .lightbox .swipe {
  left: 0px;
  right: 0px;
}
.touch .lightbox .prev,
.touch .lightbox .next,
.touch .lightbox .close {
  display: none !important;
}
