{% extends "base.html" %}

{% block title %}{{ exhibition }}{{ block.super }}{% endblock %}

{% block body %}
<article>
  <header>
    <h1>{{ exhibition }}</h1>
    <p>{% include 'base/date_range.html' with start_date=object.start_date end_date=object.end_date %}
  </header>
  {{ exhibition.description|safe }}
  {% include "base/photos.html" with photos=exhibition.photos.all id=exhibition.id %}
  {% if exhibition.press.exists %}
    <p><a href="{% url "exhibition-press-list" slug=exhibition.slug %}">Press</a>
  {% endif %}
  {% for artist in exhibition.artists.all %}
    {% if forloop.first %}<ul class="inline">{% endif %}
    <li>
      {% if artist.visible %}<a href="{{ artist.get_absolute_url }}">{% endif %}
        {{ artist }}
      {% if artist.visible %}</a>{% endif %}
  </li>
  {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</article>
{% endblock %}
