<a href="{{ model.get_absolute_url }}" title="{{ model }}">
  <dt><em>{{ model }}</em></dt>
  <dd>
    {% if model.end_date %}
      {% if model.start_date.year != model.end_date.year %}
        {% include "base/full_date.html" with date=model.start_date year=True %}
        -
        {% include "base/full_date.html" with date=model.end_date year=True %}
      {% else %}
        {% include "base/full_date.html" with date=model.start_date %}
        -
        {% include "base/full_date.html" with date=model.end_date %}
      {% endif %}
    {% else %}
      {% include "base/full_date.html" with date=model.start_date %}
    {% endif %}
  </dd>
</a>
