<a href="{{ object.get_absolute_url }}" title="{{ object }}">
  <em>{{ object }}</em><br />
  {% if object.end_date %}
    {% if object.start_date.year != object.end_date.year %}
      {% include "base/full_date.html" with date=object.start_date year=True %}
      -
      {% include "base/full_date.html" with date=object.end_date year=True %}
    {% else %}
      {% include "base/full_date.html" with date=object.start_date %}
      -
      {% include "base/full_date.html" with date=object.end_date %}
    {% endif %}
  {% else %}
    {% include "base/full_date.html" with date=object.start_date %}
  {% endif %}
</a>
