{% extends "base.html" %}

{% block title %}CANADA{% endblock title %}

{% block body %}
<article>
  {% if exhibition %}
  <header>
    <a href="{{ exhibition.get_absolute_url }}">
      {% with photo=exhibition.get_press_release_photo %}
        {% if photo %}
         <img src="{{ photo.url }}" height="{{ photo.height }}" width="{{ photo.width }}"/>
        {% endif %}
      {% endwith %}
      <h1>{{ exhibition }}</h1>
      {% if exhibition.not_group_show %}<p>{{ exhibition.join_artists}}</p>{% endif %}
      <p>{% include 'base/date_range.html' with start_date=exhibition.start_date end_date=exhibition.end_date %}
    </a>
  </header>
  {% endif %}
  {{ exhibition.extra_info.as_html }}
  {{ extra_content.as_html }}
</article>
{% endblock body %}
