{% extends "base.html" %}
{% load thumbnail %}
{% load markup %}
{% block title %}{{ exhibition.name }}{{ block.super }}{% endblock %}
{% block body %}
<article>
 <h1>{% include "_base/model_detail.html" with model=exhibition %}</h1>
 <p>{% include "_base/model_detail.html" with model=exhibition extra_info="True" %}</p>
 {{ exhibition.description|markdown }}
 {% include "_base/images.html" with images=exhibition.images.all %}
 {% if exhibition.get_press %}<p><a href={{ exhibition.get_press_url }}>List of Press</a>{% endif %}
 {% include "_base/related_models.html" with artists=exhibition.artists.all %}
</article>
{% endblock %}
