{% extends "base.html" %}
{% block base_title %}Exhibitions{{ block.super }}{% endblock %}
{% block body %}
    <dl>
    {% for exhibition in exhibitions_list %}
    
        {% ifchanged exhibition.start_date.year %}
        <dt><h2>{{ exhibition.start_date.year }}</h2></dt>
        <hr>
        {% endifchanged %}
        <dd><a href="{{ exhibition.get_absolute_url }}"><h3>{{ exhibition.name }}</h3>
            {% ifnotequal exhibition.start_date.year exhibition.end_date.year %}
                {{ exhibition.start_date|date:"F j, Y" }} - {{ exhibition.end_date|date:"F j, Y" }}
            {% else %}
                {% ifnotequal exhibition.start_date.month exhibition.end_date.month %}
                    {{ exhibition.start_date|date:"F j" }} - {{ exhibition.end_date|date:"F j" }}
                {% else %}
                    {{ exhibition.start_date|date:"F j" }} - {{ exhibition.end_date|date:"j" }}
                {% endifnotequal %}
            {% endifnotequal %}
        </a></dd>
        {% endfor %}
    </dl>
{% endblock %}