{% spaceless %}
{% if photo.artist_text %}
    {{ photo.artist_text }}</br>
{% endif %}
{% if photo.title %}
    <em>{{ photo.title }}</em>
{% endif %}
{% if photo.year and photo.title %}
  ,
{% endif %}
{% if photo.year %}
  {{ year }}
{% endif %}
{% if photo.title or photo.year %}
    </br>
{% endif %}
{% if photo.dimensions %}
    {{ photo.dimensions|join:" x " }} inches ({{ photo.dimensions_cm|join:" x " }} cm)</br>
{% endif %}
{% if photo.medium %}
    {{ photo.medium }}</br>
{% endif %}
{% if photo.caption %}
    {{ photo.caption }}</br>
{% endif %}
{% endspaceless %}
