{% extends "base.html" %}
{% load thumbnail %}

{% block base_title %}{{ artist.first_name }} {{artist.last_name }}{{ block.super }}{% endblock %}

{% block body %}
 <h1>{{ artist.first_name }} {{artist.last_name }}</h1>
 {% for image in artist.images.all %}
  {% thumbnail image.image image_size as im %}
  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
  {% endthumbnail %}
 {% endfor %}
 {% if artist.exhibitions.all or artist.press.all %}
  <dl>
  {% if artist.exhibitions.all %}
   <dt><h3>Exhibitions:</h3></dt>
   {% for exhibition in artist.exhibitions.all %}
    <dd><a href={{ exhibition.get_absolute_url }}> {{ exhibition }}</a></dd>
   {% endfor %}
  {% endif %}
  {% if artist.press.all %}
   <dt><h3>Press:</h3></dt>
   {% for press in artist.press.all %}
    <dd><a href={{ press.get_absolute_url }}> {{ press.title }} in {{ press.publisher }}</a></dd>
   {% endfor %}
  {% endif %}
  </dl>
 {% endif %}
{% endblock %}
