{% extends "base.html" %}
{% load thumbnail %}

{% block base_title %}{{ artist.first_name }} {{artist.last_name }}{{ block.super }}{% endblock %}

{% block body %}
<h2>{{ artist.first_name }} {{artist.last_name }}</h2>
{% for image in artist.artistphoto_set.all %}
    {% thumbnail image.image image_size as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
    {% endthumbnail %}
{% endfor %}
{% if artist.exhibition_set.all %}
    <br>
    <dl>
        <dt><h3>Exhibitions:</h3></dt>
        {% for exhibition in artist.exhibition_set.all %}
            <dd><a href={{ exhibition.get_absolute_url }}> {{exhibition.name }} in {{exhibition.start_date.year }}</a></dd>
        {% endfor %}
    </dl>
{% endif %}
{% endblock %}
