{% extends "base.html" %}
{% block base_title %}Search{{ block.super }}{% endblock %}
{% block body %}
<div>
    <h1>Search</h1>

    <form method="get" action=".">
            {{ form.as_p }}
        <input type="submit" value="Search">

        {% if query %}
            <h2>Results</h2>

            <ol>

            {% for result in page.object_list %}
                <li><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
            </ol>
        {% else %}
            <p><em>Search any artist, exhibition, update, or press item.</em>
        {% endif %}
    </form>
</div>
{% endblock %}
