{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block title %}{{ self.title }}{{ block.super }}{% endblock %}

{% block body %}
<article>
    <header>
        <h1><a href="{% pageurl self %}">{{ self.title }}</a> › CV</h1>
    </header>

    {% include "helpers/body_stream_field.html" with stream_field=self.resume_text %}
</article>
{% endblock %}
