{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}{{ self.title }}{{ block.super }}{% endblock %}

{% block body %}
<article>
    <header>
        <h1>{{ self.title }} › Books</h1>
    </header>

    <ol class="object-grid grid-three">
    {% for object in self.all_books.all %}
        <li>
            <a href="{% pageurl object %}">
                {% with thumbnail=object.grid_thumbnail %}
                    {% include 'helpers/responsive_image.html' with image=thumbnail %}
                {% endwith %}
                <div class="text">
                    <p>
                        {% include "cms/book_list_item.html" %}
                    </p>
                </div>
            </a>
        </li>
    {% endfor %}
    </ol>
</article>
{% endblock %}
