{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block title %}{{ self.title }}{{ block.super }}{% endblock %}

{% block body %}
<article>
  <header>
    <h1>{{ self.title }}</h1>
  </header>

  {% include "cms/photos.html" with photos=self.artist_media id=self.id %}

  <hr>
  <aside>
    <ul class="related-links">
      {% if self.artist_media %}
        <li>
          <a href="{% routablepageurl self 'artist_images' %}">Images</a>
        </li>
      {% endif %}
      {% if artist.website %}
        <li>
          <a href="{{ artist.website }}">Website</a>
        </li>
      {% endif %}
      {% if self.resume_file %}
        <li>
          <a href="{{ self.resume_file.url }}">CV</a>
        </li>
      {% elif self.resume_text %}
        <li>
          <a href="{% routablepageurl self 'artist_resume' %}">CV</a>
        </li>
      {% endif %}
      {% if self.all_press.exists %}
        <li>
          <a href="{% routablepageurl self 'artist_press' %}">Press</a>
        </li>
      {% endif %}
      {% if self.all_exhibitions.exists %}
        <li>
          <a href="{% routablepageurl self 'artist_exhibitions' %}">Exhibitions</a>
        </li>
      {% endif %}
      {% if self.all_books.exists %}
        <li>
          <a href="{% routablepageurl self 'artist_books' %}">Books</a>
        </li>
      {% endif %}
    </ul>
  </aside>
</article>
{% endblock %}
