{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags wagtailembeds_tags sekizai_tags static %}

{% block title %}{{ self.title }}{{ block.super }}{% endblock %}

{% block body %}
<article>
  <header>
    <h1><a href="{% pageurl self %}">{{ self.title }}</a> › Images</h1>
  </header>
{% if image_gallery %}
<ol class="object-list image-gallery-page">
    {% for item in image_gallery %}
    <li>
        {% if item.src %}
            <figure>
                <a data-image-gallery-popup href="{{ item.original_src }}">
                  {% include 'helpers/responsive_image.html' with image=item %}
                </a>
                <figcaption>{{item.caption}}</figcaption>
            </figure>
        {% elif item.block_type == 'gfycat_image' %}
            <figure>
                <div class="video-wrapper">
                    <iframe
                        src="https://gfycat.com/ifr/{{ item.value.gfycat_id }}"
                        frameborder="0"
                        scrolling="no"
                        width="100%"
                        height="100%"
                        allowfullscreen
                    ></iframe>
                </div>
                <figcaption>{{ item.value.extra_info.caption }}</figcaption>
            </figure>
        {% else %}
            <figure class="block-{{ item.block_type }}">
                {% embed item.value.url max_width=600 %}
                <figcaption>{{ item.value.extra_info.caption }}</figcaption>
            </figure>
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% endif %}
</article>

{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
{% endaddtoblock %}
{% addtoblock "js" %}
  <script src="{% static "scripts/jquery.magnific-popup.min.js" %}"></script>
{% endaddtoblock %}
{% addtoblock "js_inline" %}
  <script>
    $(document).ready(function() {
      $('[data-image-gallery-popup]').magnificPopup({
        type: 'image',
        closeOnContentClick: true
      });
    });
  </script>
{% endaddtoblock %}
{% endblock %}
