{% extends "base.html" %}

{% block title %}{{ self.title }}{{ block.super }}{% endblock %}

{% block body %}
<article>
    <header>
        <h1>{{ self.title }} › Press</h1>
    </header>

    <ol class="object-list">
    {% for object in self.all_press.all %}
        <li>
            <a target='_blank' href="{{ object.get_absolute_url }}">
                {% include "cms/press_long_form.html" %}
            </a>
        </li>
    {% endfor %}
    </ol>
</article>
{% endblock %}
