{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block title %}{{ self.title }}{{ block.super }}{% endblock %}

{% block body %}
<article>
    <header>
        <h1><a href="{% pageurl self %}">{{ self.title }}</a> › Exhibitions</h1>
    </header>

    <ol class="object-list">
    {% for object in self.all_exhibitions.all %}
        <li>
            <a href="{% pageurl object %}">
                {% include "./exhibition_list_item.html" %} 
            </a>
        </li>
    {% endfor %}
    </ol>
</article>
{% endblock %}
