{% extends "base.html" %}

{% load sekizai_tags canada_filters wagtailimages_tags wagtailcore_tags %}

{% block title %}{{ self.artist }} {{ self.title }}{{ block.super }}{% endblock %}

{% block body %}
{% addtoblock "js" %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="{{ "SNIPCART_API_KEY"|setting }}" id="snipcart"></script>
{% endaddtoblock %}

{% addtoblock "css" %}
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
<style>
#snipcart-discounts {
  display: none !important;
}
a#snipcart-close:before {
    content: "Continue Shopping";
    padding: 10px;
    position: relative;
    top: -0.2em;
    font: 15px brandon_grotesquebold,sans-serif;
    text-transform: uppercase;
    color: #fff;
}
</style>
{% endaddtoblock %}

<article>
  {% include "cms/photos.html" with photos=self.book_images.all id=self.id %}

  <header>
    <h1>{{ self.title }}</h1>
    <p>
      {% if self.artist.visible %}
      <a href="{% pageurl self.artist %}">{{ self.artist }}</a>
      {% else %}
        {{ self.artist }}
      {% endif %}
    </p>
    <p>
      {% if self.date_text %}
        {{ self.date_text }}
      {% else %}
        {% include "helpers/full_date.html" with date=self.date year=True %}
      {% endif %}
    </p>
  </header>

  {% include "helpers/body_stream_field.html" with stream_field=self.description %}

  {% if self.out_of_stock %}
    <aside>
      <p>Currently out of stock.</p>
    </aside>
  {% endif %}
  {% if self.can_buy %}
    <aside>
      <ul class="related-links">
        <li>
          <a href="#"
            class="snipcart-add-item"
            data-item-url="{{ request.build_absolute_uri }}"
            data-item-id="{{ self.pk }}"
            data-item-name="{{ self.title }}"
            data-item-price="{{ self.price|floatformat:2 }}"
            data-item-custom1-name="TIC"
            data-item-custom1-value="00000"
            data-item-custom1-type="hidden"
            data-item-weight="1130"
            {% with photo=self.get_grid_photo %}
              {% if photo %}
               data-item-image="{{ photo.url }}"
              {% endif %}
            {% endwith %}
          >
            Buy for ${{ self.price }}
          </a>
        </li>
      </ul>
    </aside>
  {% endif %}
</article>
{% endblock body %}