{% extends "base.html" %}

{% block title %}Contact and Info{{ block.super }}{% endblock title %}

{% block body %}
<article>
{% comment %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.947682411346!2d-73.99398840000005!3d40.71916819999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA%2C+Broome+Street%2C+New+York%2C+NY!5e0!3m2!1sen!2sus!4v1390969072434" width="400" height="300" frameborder="0" style="border:0"></iframe>
{% endcomment %}

{% include "helpers/body_stream_field.html" with stream_field=page.body %}

<h2>Subscribe to our mailing list</h2>
<form action="http://canadanewyork.us6.list-manage.com/subscribe/post?u=f55caeef42&amp;id=69fdfb4ce7" method="post" target="_blank">
    <input type="email" value="" required id="mce-EMAIL" name="EMAIL" placeholder="email address" autofocus>
    <input type="submit" value="Subscribe" name="subscribe" >
</form>
</article>
{% endblock body %}
