{% extends "base.html" %}

{% load wagtailcore_tags wagtailroutablepage_tags %}

{% block title %}{{ self.title }}{{ block.super }}{% endblock %}

{% block body %}
<article>
    <h1><a href="{% pageurl self %}">{{ self.title }}</a></h1>
    {% include "helpers/body_stream_field.html" with stream_field=self.press_release %}
  </article>
{% endblock %}
