{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block title %}{{ self.title }}{{ block.super }}{% endblock %}

{% block body %}
<article>
  <header>
    <h1>{{ self.title }}</h1>
    <p>
      {% for artist in self.artists.all %}
        <a href="{% pageurl artist %}">{{ artist }}</a>{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
    {% if self.curated_by %}
      <p>Curated by {{ self.curated_by }}</p>
    {% endif %}
    <p>{% include 'helpers/date_range.html' with start_date=self.start_date end_date=self.end_date %}
    {% if self.by_appointment %}
      <p>By appointment only</p>
    {% endif %}
    {% if self.location %}
      <p>{{ self.location }}
    {% endif %}
    </header>
  
  {% include "cms/photos.html" with photos=self.exhibition_media id=self.id %}

  <hr>
  <aside>
    <ul class="related-links">
      {% if self.exhibition_media %}
        <li>
          <a href="{{ self.url }}images/">Images</a>
        </li>
      {% endif %}
      {% if self.press.exists %}
      <li>
        <a href="{{ self.url }}press/">Press</a>
      </li>
      {% endif %}
      {% if self.press_release %}
      <li>
        <a href="{{ self.url }}press-release/">Press Release</a>
      </li>
      {% endif %}
      {% if self.external_link %}
      <li>
        <a href="{{ self.external_link }}" target="_blank">{{ self.external_link_text }}</a>
      </li>
      {% endif %}
    </ul>
  </aside>
</article>
{% endblock %}
