<em>{% if object.not_group_show %}{{ object.join_artists }}: {% endif %}{{ object }}</em><br />
{% if object.curated_by %}Curated by {{ object.curated_by }}<br />{% endif %}
{% if object.by_appointment %}
  By appointment only<br />
{% else %}
  {% include 'helpers/date_range.html' with start_date=object.start_date end_date=object.end_date %}<br />
{% endif %}
{% if object.location %}{{ object.location }}{% endif %}
