{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags cache %}

{% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
{% endblock %}

{% block body %}
<article>
    <div class="{% if self.current_exhibitions.all|length > 3 %}object-grid grid-two{% else %}multi-column{% endif %}">
      {% for current_exhibition in self.current_exhibitions.all %}
        {% with exhibition=current_exhibition.exhibition.specific %}
        {% if exhibition %}
        <div>
          <a
            href="{% if current_exhibition and current_exhibition.use_external_link %}{{exhibition.external_link}}{% else %}{% pageurl exhibition %}{% endif %}"
            {% if current_exhibition.use_external_link %}target="_blank"{% endif %}
          >
            {% if exhibition.responsive_pr_photo %}
              {% include 'helpers/responsive_image.html' with image=exhibition.responsive_pr_photo %}
            {% elif exhibition.first_image %}
              {% include 'helpers/responsive_image.html' with image=exhibition.first_image %}
            {% endif %}
            <h1>{{ exhibition }}</h1>
            {% if exhibition.not_group_show %}
            <p>{{ exhibition.join_artists }}</p>
            {% else %}
            <p>Group Exhibition</p>
            {% endif %}
            {% if exhibition.curated_by %}
            <p>Curated by {{exhibition.curated_by}}</p>
            {% endif %}
            {% if exhibition.by_appointment %}
              <p>By appointment only</p>
            {% else %}
              <p>{% include 'helpers/date_range.html' with start_date=exhibition.start_date end_date=exhibition.end_date %}</p>
            {% endif %}
            {% if exhibition.location %}<p>{{ exhibition.location }}</p>{% endif %}
          </a>
          {% include "helpers/body_stream_field.html" with stream_field=current_exhibition.extra_info %}
        </div>
        {% endif %}
        {% endwith %}
      {% endfor %}
      </div>
      {% include "helpers/body_stream_field.html" with stream_field=page.body %}
</article>
{% endblock body %}
