{% extends "base.html" %}
{% load sekizai_tags %}

{% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{{ block.super }}
{% endblock %}

{% block body %}

    {% if items %}
        {% if self.layout == "rollover-list" %}
        <div class="rollover-images">
            {% for item in items %}
            {% with thumbnail=item.grid_thumbnail %}
            <div data-index="{{ forloop.counter0 }}">
                {% include "helpers/responsive_image.html" with image=thumbnail %}
            </div>
            {% endwith %}
            {% endfor %}
        </div>
        {% endif %}
        <ol class="object-{{ self.list_or_grid }} {{ self.layout }}">
            {% for item in items %}
            <li data-index="{{ forloop.counter0 }}">
                {% include "cms/list_item.html" with object=item %}
            </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>There are no items.</p>
    {% endif %}

    {% include "cms/pagination.html" %}


    {% addtoblock "js_inline" %}
    {% if self.layout == "rollover-list" %}
        <script>
            $(document).ready(function() {
                $('.rollover-list li').hover(
                    function(event) {
                        var imageIndex = $(this).attr("data-index");
                        $('.rollover-images div[data-index=' + imageIndex + '] img').show();
                    },
                    function(event) {
                        var imageIndex = $(this).attr("data-index");
                        $('.rollover-images div[data-index=' + imageIndex + '] img').hide();
                    }
                );
            });
        </script>
    {% endif %}
    {% endaddtoblock %}

{% endblock %}