{% load wagtailcore_tags %}

<a href="{% pageurl object %}">
    {% if self.list_or_grid == "grid" or self.layout == "image-list" %}
        {% with thumbnail=object.grid_thumbnail %}
            {% include 'helpers/responsive_image.html' with image=thumbnail %}
        {% endwith %}
    <div class="text">
        <p>
    {% endif %}
          {{ object.list_item }}
    {% if self.list_or_grid == "grid" %}
        </p>
    </div>
    {% endif %}
</a>
