{% if items.has_previous or items.has_next %}
<nav class="pagination">
{% if items.has_previous %}
  <a href="?page={{ items.previous_page_number }}">&lsaquo; Previous Page</a>
{% endif %}
{% if items.has_next %}
  <a href="?page={{ items.next_page_number }}">Next Page &rsaquo;</a>
{% endif %}
</nav>
{% endif %}
