{% load static sekizai_tags canada_filters wagtailembeds_tags %}

{% with first_item=photos|first %}
{% if first_item %}
{% if first_image %}
  <a
    href="{{ first_image.src }}"
    title="Click to view photos"
    class="photo-link gallery-{{ id }} zoom-cursor"
  >
    {% include "helpers/responsive_image.html" with image=first_image %}
  </a>
{% else %}
  {% with first_image=self.first_image %}
  <a
    href="{{ first_image.src }}"
    title="Click to view photos"
    class="photo-link gallery-{{ id }} zoom-cursor"
  >
    {% include "helpers/responsive_image.html" with image=first_image %}
  </a>
  {% endwith %}
{% endif %}
{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
{% endaddtoblock %}
{% addtoblock "js" %}
  <script src="{% static "scripts/jquery.magnific-popup.min.js" %}"></script>
{% endaddtoblock %}
{% addtoblock "js_inline" %}
  <script>
    {% if not id %}
    console.error("The photos template with the first image {{ first_item.id }} ({{ first_item.title }}) MUST be passed the id of the owning model.");
    {% endif %}

    $(document).ready(function() {
      $('.gallery-{{ id }}').magnificPopup({
        type: 'image',
        iframe: {
          markup: '<div class="mfp-iframe-scaler">'+
                      '<div class="mfp-close"></div>'+
                      '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
                      '<div class="mfp-bottom-bar">'+
                        '<div class="mfp-title"></div>'+
                      '</div>'+
                    '</div>'
        },
        key: 1, // because they all use the same layout, this reuses the html so it doesnt have to be recreated,
        preload: [1,3], // preload one previous image and three next images
        gallery: {
          enabled: true
        },
        items: [{% for photo in photos %}
          {
            {% if photo.block_type %}
              {% if photo.block_type == "embed" %}
              type: 'iframe',
              src: {{ photo.value.url|escapejson }},
              title: $("<div/>").html({{ photo.value.extra_info.caption|escapejson }})
              {% elif photo.block_type == "gfycat_image" %}
              type: 'iframe',
              src: "https://gfycat.com/ifr/{{ photo.value.gfycat_id }}",
              {% else %}
              src: {{ photo.value.image.file.url|escapejson }},
              title: $("<div/>").html({{ photo.value.extra_info.caption|escapejson }})
              {% endif %}
            {% else %}
              src: {{ photo.image.file.url|escapejson }},
              title: $("<div/>").html({{ photo.caption|escapejson }})
            {% endif %}
          },{% endfor %}
        ],
      });
    });
  </script>
{% endaddtoblock %}
{% endif %}
{% endwith %}
