{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block title %}Updates{{ block.super }}{% endblock %}

{% block body %}
<div class="object-{{ self.list_or_grid }} {{ self.layout }} flex-start">
{% for item in items %}
<article>
  <header>
    <h1 id="update_{{ item.pk }}">
      {% include "helpers/full_date.html" with date=item.post_date year=True %}
    </h1>
  </header>
  
  {% if self.layout != "list" %}
    {% if item.external_link %}
    <a class="photo-link" href="{{ item.external_link }}">
      {% if self.layout == "grid-two" %}
        {% include "helpers/responsive_image.html" with image=item.grid_thumbnail_two %}
      {% elif self.layout == "grid-three" %}
        {% include "helpers/responsive_image.html" with image=item.grid_thumbnail_three %}
      {% elif self.layout == "grid-four" %}
        {% include "helpers/responsive_image.html" with image=item.grid_thumbnail_four %}
      {% else %}
        {% include "helpers/responsive_image.html" with image=item.first_image %}
      {% endif %}
    </a>
    {% else %}
      {% if self.layout == "grid-two" %}
        {% include "cms/photos.html" with photos=item.update_images.all first_image=item.grid_thumbnail_two id=item.id %}
      {% elif self.layout == "grid-three" %}
        {% include "cms/photos.html" with photos=item.update_images.all first_image=item.grid_thumbnail_three id=item.id %}
      {% elif self.layout == "grid-four" %}
        {% include "cms/photos.html" with photos=item.update_images.all first_image=item.grid_thumbnail_four id=item.id %}
      {% else %}
        {% include "cms/photos.html" with photos=item.update_images.all first_image=item.first_image id=item.id %}
      {% endif %}
    {% endif %}
  {% endif %}
  
  <div class="update-body-wrapper">
    {% include "helpers/body_stream_field.html" with stream_field=item.description %}
  </div>
</article>
{% endfor %}
</div>

{% include "cms/pagination.html" %}
{% endblock %}
